In [1]:
import pandas as pd

In [4]:
pd.read_csv('res/results_thck_Ridge.csv').describe()

,Unnamed: 0,n,r_discovery_cv,r_discovery_overfit,r_replication,p_discovery_cv,p_discovery_overfit,p_replication
count,3000.000000,3000.000000,2979.000000,3000.000000,3000.000000,3000.000000,3.000000e+03,3000.000000
mean,1499.500000,240.766667,0.100163,0.594199,0.107246,0.278794,9.990010e-04,0.205772
std,866.169729,178.577926,0.143782,0.142726,0.115145,0.329423,2.168766e-19,0.258834
min,0.000000,50.000000,-0.581742,0.301805,-0.347619,0.000999,9.990010e-04,0.000999
25%,749.750000,100.000000,0.018408,0.477336,0.037547,0.004995,9.990010e-04,0.003996
50%,1499.500000,200.000000,0.110102,0.572939,0.105397,0.107892,9.990010e-04,0.081918
75%,2249.250000,300.000000,0.194773,0.714272,0.183984,0.516733,9.990010e-04,0.329920
max,2999.000000,556.000000,0.632190,0.913519,0.638953,1.000000,9.990010e-04,0.995005

In [5]:
pd.read_csv('res/results_Ridge.csv').describe()

,Unnamed: 0,n,r_discovery_cv,r_discovery_overfit,r_replication,p_discovery_cv,p_discovery_overfit,p_replication
count,6000.000000,6000.000000,5946.000000,6.000000e+03,6000.000000,6000.000000,6.000000e+03,6000.000000
mean,2999.500000,229.900000,0.204308,1.000000e+00,0.218451,0.151806,9.990010e-04,0.094560
std,1732.195139,159.847475,0.173156,4.353626e-10,0.147773,0.266834,2.168585e-19,0.186149
min,0.000000,50.000000,-0.539345,1.000000e+00,-0.319389,0.000999,9.990010e-04,0.000999
25%,1499.750000,100.000000,0.098430,1.000000e+00,0.119896,0.000999,9.990010e-04,0.000999
50%,2999.500000,200.000000,0.198846,1.000000e+00,0.201950,0.005994,9.990010e-04,0.003996
75%,4499.250000,300.000000,0.330492,1.000000e+00,0.325526,0.166084,9.990010e-04,0.084915
max,5999.000000,501.000000,0.683321,1.000000e+00,0.609244,1.000000,9.990010e-04,0.992008